<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= @task.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<p><%= notice %></p>
<%= form_with(model: @task, local: true) do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :content %>
    <%= form.text_field :content %>
    <%= form.label :expiration_out %>
    <%= form.text_field :expiration_out %>
    <%= form.submit %>
    <%= link_to (button_tag "戻る", type: 'button'), { controller: :tasks, action: :index } %>
<% end %>
